.carouselContainer {
  height: 525px;
  overflow: hidden;
  position: relative;
  background-color: var(--bg-white);
}

.carousel {
  display: flex;
  animation: scroll 120s linear infinite;
  will-change: transform;
  height: 100%;
}

.carouselItem {
  flex: 0 0 350px;
  height: 525px; /* 3:4.5 aspect ratio */
}

.overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: var(--font-calligraphy);
  font-size: 5.5rem;
  color: var(--accent-color);
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  white-space: wrap;
  letter-spacing: 0.03em;
  line-height: 1.4;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-350px * 5)
    ); /* Move by the width of one complete set */
  }
}

@media (max-width: 768px) {
  .carouselContainer {
    height: 420px;
  }

  .carouselItem {
    flex: 0 0 280px;
    height: 420px;
  }

  .overlayText {
    font-size: 3.8rem;
    text-align: center;
    width: 90%;
  }
}
