:root {
  --accent-color: #a31818;
  --bg-white: #f6f2ec;
  --text-dark: #360606;
  --text-light: #fffaf6;
  --font-calligraphy: "Beth Ellen", cursive;
  --font-body: "Cormorant Garamond", serif;
}

body {
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: 1.25rem;
  color: var(--text-dark);
  background-color: var(--bg-white);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
