.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.block {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s ease;
}

.bankName {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--accent-color);
  font-family: var(--font-calligraphy);
}

.cardNumber {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--font-body);
}

.clickable {
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s;
}

.clickable:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.copied {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--accent-color);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 1.5rem;
  white-space: nowrap;
  font-family: var(--font-body);
}
